:root {
  --background-black: #0F0F0F;
  --background-white: #FFFFFF;
  --background-greygreen: #293A40;

  --text-white: #FFFFFF;
  --text-black: #000000;
  --text-grey: #E9E9E9;
  --text-greygreen: #293A40;
}
